apiVersion: v2
name: langfuse
version: 1.0.0-rc.1
description: Open source LLM engineering platform - LLM observability, metrics, evaluations, prompt management.
type: application
keywords:
  - langfuse
  - llm
  - observability
  - prompt management
  - metrics
home: https://langfuse.com/
sources:
  - https://github.com/langfuse/langfuse
  - https://github.com/langfuse/langfuse-k8s
dependencies:
  - name: postgresql
    version: 16.4.14
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.deploy
  - name: clickhouse
    version: 7.2.1
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: clickhouse.deploy
  - name: valkey
    version: 2.4.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.deploy
    alias: redis
  - name: minio
    version: 14.10.4
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: s3.deploy
    alias: s3
  - name: common
    version: 2.x.x
    repository: oci://registry-1.docker.io/bitnamicharts
maintainers:
  - name: langfuse
    email: contact@langfuse.com
    url: https://langfuse.com/
icon: https://langfuse.com/langfuse_logo.png
appVersion: "3.29.1"
