replicaCount: 1

image:
  repository: langfuse/langfuse
  pullPolicy: Always
  tag: "main"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

langfuse:
  port: 3000
  nodeEnv: production
  nextauth:
    url: http://localhost:3000
    secret: changeme
  salt: changeme
  telemetryEnabled: True
  nextPublicSignUpDisabled: False
  enableExperimentalFeatures: False
  extraContainers: []
  extraVolumes: []
  extraInitContainers: []
  extraVolumeMounts: []
  additionalEnv: []
    # example
    # - name: "DATABASE_PASSWORD"
    #   valueFrom:
    #     secretKeyRef:
    #       name: "my-secrets"
    #       key: "database-password"
    # - name: "EMAIL_FROM_ADDRESS"
    #   valueFrom:
    #     configMapKeyRef:
    #       name: "my-configmap"
    #       key: "email-from-address"
    # - name: DATABASE_USERNAME
    #   value: langfuse-postgres  

serviceAccount:
  create: true
  annotations: {}
  name: ""
DATABASE_URL: postgresql://postgres:postgres@langfuse-postgresql:5432/postgres_langfuse
podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false

resources: {}

autoscaling:
  enabled: false

nodeSelector: {}

tolerations: []

affinity: {}

postgresql:
  auth:
    username: postgres
    password: postgres
    database: postgres_langfuse
  deploy: true
  architecture: standalone
  primary:
    service:
      ports:
        postgresql: 5432

extraManifests: []
