# This values.yaml file demonstrates how to use the basic chart with a single, pre-created secret.
# Secrets must be set manually or via External Secrets Operator like https://external-secrets.io/latest or any other secret management tool.
langfuse:
  salt:
    secretKeyRef:
      name: langfuse
      key: salt
  encryptionKey:
    secretKeyRef:
      name: langfuse
      key: encryption-key

nextauth:
  secret:
    secretKeyRef:
      name: langfuse
      key: nextauth-secret

postgresql:
  auth:
    existingSecret: langfuse
    secretKeys:
      userPasswordKey: postgresql-password

clickhouse:
  auth:
    existingSecret: langfuse
    existingSecretKey: clickhouse-password
  resourcesPreset: medium

redis:
  auth:
    existingSecret: langfuse
    existingSecretPasswordKey: redis-password
