# This values.yaml file demonstrates how to use the `additonalEnvs` parameter with hard-coded values, configmaps, and secrets.
# It assumes that you have created your own secrets and configmap with necessary variables.
# Secrets must be set manually or via External Secrets Operator like https://external-secrets.io/latest or any other secret management tool.

replicaCount: 1

langfuse:
  port: 3000
  nodeEnv: production
  nextauth:
    url: http://localhost:3000
  telemetryEnabled: True
  nextPublicSignUpDisabled: False
  enableExperimentalFeatures: False
  extraContainers: []
  extraVolumes: []
  extraInitContainers: []
  extraVolumeMounts: []
  additionalEnv:
    - name: DATABASE_URL
      valueFrom:
        secretKeyRef:
          name: my-secrets
          key: langfuse-database-url
    - name: DATABASE_PASSWORD
      valueFrom:
        secretKeyRef:
          name: my-secrets
          key: langfuse-database-password
    - name: DIRECT_URL
      valueFrom:
        secretKeyRef:
          name: my-secrets
          key: langfuse-direct-url
    - name: SHADOW_DATABASE_URL
      valueFrom:
        secretKeyRef:
          name: my-secrets
          key: langfuse-shadow-database-url
    - name: NEXTAUTH_SECRET
      valueFrom:
        secretKeyRef:
          name: my-secrets
          key: langfuse-nextauth-secret
    - name: SALT
      valueFrom:
        secretKeyRef:
          name: my-secrets
          key: langfuse-salt
    - name: SMTP_CONNECTION_URL
      valueFrom:
        secretKeyRef:
          name: my-secrets
          key: smtp-connection-url
    - name: EMAIL_FROM_ADDRESS
      valueFrom:
        configMapKeyRef:
          name: my-configmap
          key: email-from-addres
    - name: LANGFUSE_LOG_LEVEL
      value: info
    - name: LANGFUSE_LOG_FORMAT
      value: json

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false

resources: {}

autoscaling:
  enabled: false

nodeSelector: {}

tolerations: []

affinity: {}

postgresql:
  deploy: false
  auth:
    username: langfuse
    database: postgres_langfuse
  host: localhost

extraManifests: []
