{{- if .Values.langfuse.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "langfuse.serviceAccountName" . }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "langfuse.labels" . | nindent 4 }}
  {{- with .Values.langfuse.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.langfuse.serviceAccount.automountServiceAccountToken }}
{{- end }}
