name: Unit Tests
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unit-tests:
    name: Run Helm Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.13.2

      - name: Install helm-unittest plugin
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest.git --version v0.6.2

      - name: Update dependencies
        run: helm dependency update charts/langfuse/

      - name: Run unit tests
        run: |
          helm unittest charts/langfuse/ --color --output-type JUnit --output-file test-results.xml

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: test-results.xml
          check_name: "Helm Unit Test Results"
          comment_title: "Helm Unit Test Results"
